.projectCard {
  width: 300px;
  border: 2px solid violet;
}
.projectCard-image-container img {
  height: 160px;
  width: 230px;
}
.projectCard-image-container {
  height: 175px;
  width: 300px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}
.hyperlink-underline-blue-small {
}
